<h3>Welcome {{nickname}}</h3>
<div class="available-rooms">
    @if(availableRooms.length) {
        <p>Join Public Chats</p>
        @if(availableRooms.length < 10) {
            @for(room of availableRooms; track room) {
                <button mat-stroked-button [routerLink]="room.id">{{room.config.roomName}}</button>
            }
        } @else {
            <!-- TODO: SHOW SEARCH IN CHATS -->
        }
        
    }
    <!-- TEMP -->
    <!-- <thx-message-input roomId="test"></thx-message-input> -->
</div>
<form class="new-room"[formGroup]="roomForm" (ngSubmit)="createAndJoinRoom()">
    <div>
        <mat-form-field>
            <mat-label>New Chat</mat-label>
            <input formControlName="roomName" matInput placeholder="Ex. holidays in Rome" value="">
        </mat-form-field>
        
        <section>
            <mat-checkbox formControlName="public">Public</mat-checkbox>
        </section>
    </div>
    
    <button mat-flat-button [disabled]="!roomForm.valid" type="submit">Enter Chat {{roomForm.value.roomName}}</button>
</form>
