/* You can add global styles to this file, and also import other style files */
$space: 24px;

$light-color: #00b8d4;
$light-color2: #0dd;
$dark-color: #191c1c;
$dark-color2: #37474f;
$dark-color3: #131515;
$func-color: #c67c00;

/* layers */
.layer-0 {
    z-index: 0;
}
.layer-1 {
    z-index: 99;
}
.layer-2 {
    z-index: 9999;
}
.layer-3 {
    z-index: 999999;
}

$solidBorder: solid calc($space / 6) $light-color;

* {
    box-sizing: border-box;
}

html, body, thx-root {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $dark-color;
    color: $light-color2;
    font-size: large;
    overflow: hidden;
}




html, body { height: 100%; }
body { 
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Lato", sans-serif;
}

a {
    color: $func-color;
}

thx-not-found {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

thx-hello {
    padding: $space;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
        width: 128px;
        height: auto;
        margin-bottom: $space;
    }
    .menu {
        display: flex;
        flex-direction: column;
        margin-bottom: $space;
        & > button {
            margin: calc($space / 2);
        }
    }
}

thx-about, thx-terms {
    display: block;
    padding: $space;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .notes {
        width: 100%;
        @extend .line-before;
        font-size: small;
        line-height: 1.4;
        .note-number { margin-right: $space;}
        margin-bottom: $space;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li {
            padding-left: calc($space);
            text-indent: -calc($space);
        }

        li:before {
            content: "😍";
            padding-right: calc($space / 2);
        }
    }

    .terms-controls {
        position: sticky;
        top: calc(0px - $space - 2px);
        width: 100;
        display: flex;
        flex-direction: row;
        padding: calc($space / 2) 0;
        background-color: $dark-color;
        z-index: 99999999;
    }

    .highlighted {
        color: $func-color;
        margin-bottom: $space;
    }
    
}

thx-research-info {
    .info {
        @extend .line-before;
     }
     .logos {
        margin-top: $space;
        svg {
            width: 150px;
            height: auto;
            fill: $light-color;
         }
     }
     
}

thx-rooms {
    // padding: $space;
    // padding-bottom: calc(3 * $space);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;
    // min-height: 100%;
    padding: 0 $space;

    .welcome {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        position: sticky;
        top: $space;
        h4 {
            margin: 0;
            line-height: 1.5;
        }
    }

    .available-rooms {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .rooms-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            .room-buttons {
                button {
                    margin: calc($space / 4);
                }
            }
            
        }
    }

    form.new-room {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        button[type=submit] {
            margin-top: calc($space / 2);
            margin-bottom: $space;
        }
    }
}

thx-room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    // padding: $space;
    & > div {
        width: 100%;
    }
    .chat-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        .chat-controls {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: calc($space / 4);
            padding-top: calc($space / 2);
            .leave-chat {
                flex: 20%;
            }
            .chat-info {
                flex: 60%;
                text-align: center;
                h6 {
                    margin: 0;
                }

            }
            .close-chat {
                flex: 20%
            }
        }
    }

    .chat-messages {
        overflow: hidden;
        overflow-y: scroll;
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        // min-height: 60%;
        .my-message {
            margin-left: auto;
        }
        justify-content: end;
    }


    .chat-options {
        display: flex;
        flex-direction: row;
        padding: 0 $space $space $space;
    }
}

thx-message {
    display: inline-flex;
    margin: calc($space / 3) $space;
    flex-direction: column;
    // max-width: 100%;
    max-width: calc(100% - (2 * $space));
    margin-left: $space;
    .message-meta {
        display: inline-flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        padding: 0 $space 0 0;
        .user-nickname {
            font-size: x-large;
        }
        .sent {
            font-size: small;
            margin-left: calc($space / 3);
        }
        
    }

    .message {
        border: 3px solid $light-color2;
        border-radius: calc(2 * $space);
        padding: calc($space / 2) $space;
        padding-right: calc($space / 3);
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        background-color: $dark-color;
        
        .message-content {
            // max-width: calc(100% - (4 * $space));
            flex: 80%;
            max-width: 80%;
            word-wrap: break-word;
            
        } 
        // max-width: calc(100% - (2 * $space));
        .message-timer {
            flex: 10%;
            margin-left: calc($space / 2);

            .mat-mdc-progress-spinner{
                --mdc-circular-progress-active-indicator-color: inherit;
            }
        }
    }
}

thx-message-input {
    width: 100%;
    font-size: large;
    
    form {
        display: flex;
        width: 100;
        margin: calc($space / 2) $space;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        input[type=text]#message {
            background-color: $dark-color;
            color: $light-color2;
            outline-width: 0;
            border: 3px solid $light-color2;
            border-radius: 9999px;
            padding: calc($space / 2) $space;
            padding-right: calc(2 * $space);
            font-size: inherit;
            width: 80%;
            &:active, &:focus {
                outline: none;
            }
        }
        .mat-mdc-icon-button {
            color: $light-color2;
        }
        .mat-icon.emoji {
            font-size: calc(1.5 * $space);
            width: calc(2 * $space);
            height: calc(2 * $space);
            position: absolute;
            right: 24%;
            // opacity: .5;
            // z-index: 9999;
            // cursor: pointer;
            &::before {
                display: block;
                width: 100%;
                height: 100%;
                line-height: normal;
                padding: 3px;
            }
        }

    }

    
    
}

thx-emoji {
    display: block;
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    padding: calc($space / 2);
    z-index: 9999999;
    
    .emojis-container {
        border-radius: $space;
        background-color: $dark-color3;
        padding: 0;
        position: absolute;
        bottom: 0;
        width: calc(100% - $space);
        max-height: 60%;
        overflow: hidden;
        height: 100%;
        overflow-y: scroll;
        .emoji-list {
            margin: calc($space / 3);
            .emoji-category {
                padding-top: calc($space / 1);
                padding-left: calc($space / 3);
                padding-right: calc($space / 3);
                padding-bottom: calc($space / 2);
                position: sticky;
                top: -2px;
                background-color: $dark-color3;
            }
            .emoji-item {
                margin: calc($space / 3);
                font-size: x-large;
            }
        }
    }
}

thx-chat-stats {
    background-color: $dark-color3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: calc(3 * $space);
    .timer {
        font-family: monospace;
        font-size: xx-large;
    }
    .stats-content {
        position: absolute;
        overflow: hidden;
        top: calc(3 * $space);
    }
    .show-more {
        font-size: xx-large;
        position: absolute;
        bottom: 0;
    }
}

thx-local-notifications {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: $space;
    z-index: 999999999;
    overflow: hidden;

    .notification {
        pointer-events: all;
        cursor: pointer;
        background-color: $dark-color3;
        border-radius: $space;
        // padding: calc($space / 2);
        margin-bottom: calc($space / 2);
        padding-bottom: calc($space / 2);
        .notification-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: calc($space / 2);
            padding-bottom: 0;
            .title { margin-left: calc($space / 4); }
        }
    }
}

thx-settings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $space;
    font-size: large;
    overflow-y: scroll;
    min-height: 100%;
    h4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        position: sticky;
        top: -$space;
        background-color: $dark-color;
        @extend .layer-3;
        margin-bottom: 0 !important;
    }

    form {
        margin-top: calc($space);
        display: flex;
        flex-direction: column;
        & > div {
            margin-bottom: calc($space / 2);
        }
        .nickname, .color {
            display: flex;
            flex-direction: row;
            align-items: center;
            & > div {
                margin-right: calc($space / 3);
            }
        }
        .settings-controls {
            margin-top: $space;
        }
    }
}

.line-before {
    &::before {
        display: block;
        width: 33%;
        height: 2px;
        background-color: $light-color;
        // position: absolute;
        // top: 0;
        content: '';
        margin-bottom: calc($space / 3);
    }
}

.mat-mdc-icon-button {
    &.large {
        width: calc(2.2 * $space);
        height: calc(2.2 * $space);
        font-size: calc(1.5 * $space);
        padding: calc(.2 * $space) calc(.05 * $space);
        margin: 0 calc(.1 * $space);
    }
}

.spacer {
    flex: 1 1 auto;
}