/* You can add global styles to this file, and also import other style files */
$space: 24px;

$light-color: #00b8d4;
$light-color2: #0dd;
$dark-color: #191c1c;
$dark-color2: #37474f;
$dark-color3: #131515;
$func-color: #c67c00;

$solidBorder: solid calc($space / 6) $light-color;

* {
    box-sizing: border-box;
}

html, body, thx-root {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $dark-color;
    color: $light-color2;
    font-size: large;
    overflow: hidden;
}




html, body { height: 100%; }
body { 
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Lato", sans-serif;
}


thx-hello {
    padding: $space;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

thx-rooms {
    padding: $space;
    padding-bottom: calc(3 * $space);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .welcome {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        h3 {
            margin: 0;
        }
    }

    .available-rooms {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .rooms-list {
            button {
                margin: calc($space / 4);
            }
        }
    }

    form.new-room {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        button[type=submit] {
            margin-top: calc(2 * $space);
        }
    }
}

thx-room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    // padding: $space;
    & > div {
        width: 100%;
    }
    .chat-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        .chat-controls {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: calc($space / 4);
            padding-top: calc($space / 2);
            .leave-chat {
                flex: 20%;
            }
            .chat-info {
                flex: 60%;
                text-align: center;
                h6 {
                    margin: 0;
                }

            }
            .close-chat {
                flex: 20%
            }
        }
    }

    .chat-messages {
        overflow: hidden;
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        .my-message {
            margin-left: auto;
        }
        justify-content: end;
    }


    .chat-options {
        display: flex;
        flex-direction: row;
        padding: 0 $space $space $space;
    }
}

thx-message {
    display: inline-flex;
    margin: calc($space / 3) $space;
    flex-direction: column;
    max-width: 100%;
    .message-meta {
        display: inline-flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        padding: 0 $space 0 0;
        .user-nickname {
            font-size: x-large;
        }
        .sent {
            font-size: small;
            margin-left: calc($space / 3);
        }
        
    }

    .message {
        border: 3px solid $light-color2;
        border-radius: 9999px;
        padding: calc($space / 2) $space;
        padding-right: calc($space / 3);
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        background-color: $dark-color;
        // max-width: 90%;
        .message-content {
            // max-width: calc(100% - (4 * $space));
            flex: 80%;
        } 
        // max-width: calc(100% - (2 * $space));
        .message-timer {
            flex: 20%;
            margin-left: calc($space / 2);

            .mat-mdc-progress-spinner{
                --mdc-circular-progress-active-indicator-color: inherit;
            }
        }
    }
}

thx-message-input {
    width: 100%;
    font-size: large;
    
    form {
        display: flex;
        width: 100;
        margin: calc($space / 2) $space;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        input[type=text]#message {
            background-color: $dark-color;
            color: $light-color2;
            outline-width: 0;
            border: 3px solid $light-color2;
            border-radius: 9999px;
            padding: calc($space / 2) $space;
            padding-right: calc(2 * $space);
            font-size: inherit;
            width: 80%;
            &:active, &:focus {
                outline: none;
            }
        }
        .mat-mdc-icon-button {
            color: $light-color2;
        }
        .mat-icon.emoji {
            font-size: calc(1.5 * $space);
            width: calc(2 * $space);
            height: calc(2 * $space);
            position: absolute;
            right: 24%;
            // opacity: .5;
            z-index: 9999;
            // cursor: pointer;
            &::before {
                display: block;
                width: 100%;
                height: 100%;
                line-height: normal;
                padding: 3px;
            }
        }

    }

    
    
}

thx-emoji {
    display: block;
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    padding: calc($space / 2);
    z-index: 9999999;
    
    .emojis-container {
        border-radius: $space;
        background-color: $dark-color3;
        position: absolute;
        bottom: 0;
        width: calc(100% - $space);
        max-height: 60%;
        overflow: hidden;
        height: 100%;
        overflow-y: scroll;
        .emoji-list {
            margin: calc($space / 3);
            .emoji-category {
                margin-top: calc($space / 1);
                margin-left: calc($space / 3);
                margin-right: calc($space / 3);
                margin-bottom: calc($space / 2);
            }
            .emoji-item {
                margin: calc($space / 3);
            }
        }
    }
}

thx-chat-stats {
    background-color: $dark-color3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: calc(3 * $space);
    .timer {
        font-family: monospace;
        font-size: xx-large;
    }
    .stats-content {
        position: absolute;
        overflow: hidden;
        top: calc(3 * $space);
    }
    .show-more {
        font-size: xx-large;
        position: absolute;
        bottom: 0;
    }
}

thx-local-notifications {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: $space;
    z-index: 999999999;
    overflow: hidden;

    .notification {
        pointer-events: all;
        cursor: pointer;
        background-color: $dark-color3;
        border-radius: $space;
        // padding: calc($space / 2);
        margin-bottom: calc($space / 2);
        padding-bottom: calc($space / 2);
        .notification-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: calc($space / 2);
            padding-bottom: 0;
            .title { margin-left: calc($space / 4); }
        }
    }
}

thx-settings {
    width: 100%;
    height: 100;
    display: flex;
    flex-direction: column;
    padding: $space;
    font-size: large;
    h4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    form {
        margin-top: calc($space);
        display: flex;
        flex-direction: column;
        & > div {
            margin-bottom: calc($space / 2);
        }
        .nickname, .color {
            display: flex;
            flex-direction: row;
            align-items: center;
            & > div {
                margin-right: calc($space / 3);
            }
        }
        .settings-controls {
            margin-top: calc(2 * $space);
        }
    }
}


.mat-mdc-icon-button {
    &.large {
        width: calc(2.2 * $space);
        height: calc(2.2 * $space);
        font-size: calc(1.5 * $space);
        padding: calc(.2 * $space) calc(.05 * $space);
        margin: 0 calc(.1 * $space);
    }
}

.spacer {
    flex: 1 1 auto;
}