<div class="notifications-container">
    @if(notification) {
        <div class="notification">
            <div class="notification-controls">
                <mat-icon
                    color="primary"
                    class="material-symbols-outlined"
                    inline="true"
                >chat</mat-icon>
                <div
                    class="title"
                    [routerLink]="['/chat', notification.roomId]"
                    (click)="deleteNotification(notification)"
                >
                    {{getRoomName(notification.roomId)}}
                </div>
                <span class="spacer"></span>
                <div class="close" (click)="close(notification)">
                    <mat-icon
                        color="primary"
                        class="material-symbols-outlined"
                        inline="true"
                    >close</mat-icon>
                </div>
            </div>
            <thx-message
                [routerLink]="['/chat', notification.roomId]"
                (click)="deleteNotification(notification)"
                [message]="notification.message"
                (expired)="onExpireMessage(notification)"
            ></thx-message>
        </div>
    }
</div> 